# Create toScan directories for each item

1. create directories from Google Sheet for each item to be scanned
1. verify physical item against list from Google Sheet and update Google Sheet list as necessary
1. write identifier on envelope for item and place item inside (remove spiral if present)
1. remove staples and/or cut items as necessary
1. digitize

In [1]:
import pandas as pd

In [4]:
# copy serial title list
serial_title_df = pd.read_clipboard()

In [10]:
serial_title_df.head(3)

   lady-vols-cross-country
0  lady-vols-cross-country
1  lady-vols-cross-country
2  lady-vols-cross-country

In [11]:
serial_title_df.tail(3)

    lady-vols-cross-country
416           vols-baseball
417           vols-baseball
418           vols-baseball

In [12]:
serial_date_df = pd.read_clipboard()

In [13]:
serial_date_df.head(3)

   1981
0  1982
1  1985
2  1986

In [14]:
serial_date_df.tail(3)

     1981
416  2009
417  2010
418  2011

In [ ]:
# read data from Google Sheets clipboard
# NOTE: the first item in the copy/paste will be used as the column number
df = pd.read_clipboard()

In [ ]:
# copy page total list to clipboard for Google Sheets
df = pd.DataFrame(page_count_list)
df.to_clipboard(index=False, header=False, excel=True, sep='\t')